@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My College</h1>
    <p>Learn about our <a href="/About">admissions and programs</a>.</p>
</div>
